* {
  box-sizing: border-box;
}

body{
  overflow-x:hidden;
  font-family: $noto-sans;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  // padding-left: 15px;
  // padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

.top-bar{
  .row{
    justify-content: flex-end;
  }

  .top-bar-icons{
    color: black;

    a{
      position: relative;
      top:25%;
    }
    img{
      height: 22px;
      width: 22px;
    }
  }

  .top-bar-hamburger{
    background-color: $buttons-background;
    border-radius: 50%;
    width: 42px;
    height: 42px;

    i{
      color: white
    }
    .icon-menu{
      position: relative;
      top: 24%;
      left: -7%;
    }
  }
}

.navigation{
  font-size: 11px;
  background-color: $color-before;
  padding: 8px 0;

  .border{
    border-left: solid 1px black;
    padding-right: 15px;
  }

  a .border::after{
    position: absolute;
    border: 1px solid gray;
  } 

  i:before{
    width: 1em !important;
  }

  i{
    position: relative;
    top: 4%;
  }

  .nav-links{
    > *{
      margin: 0;
      position: relative;
      top: 7%;
    }
  }
}

.colors{
  justify-content: left;
}

.color-outer{
  position: relative;
  display: inline-block;
  height:28px;
  width: 28px;
  border-radius: 50%;
  background-color: $color-before;

  &:hover{
    border: 1px solid black;
  }
}

.color-a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

.color-b{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: lightgray;
}

.color-c{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
}

.product-left{
  background: url("https://i.ibb.co/pf1rMpv/photo-1.png") no-repeat;
  display: block;
  position: relative;
  background-size: 100%;
  content: "";
  padding-bottom: 100%;
  background-position: center;
}

.availability{
  h4{
    margin-bottom: 0px;
  }

  a{
    text-decoration: underline;
  }
}

.price > *{
  display: inline-block;
}

.price{


  h3{
    font-size: 2em;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .old-price{
    text-decoration: line-through;
    color: gray;
  }

  .promocja{
    font-family: $amantic;
    padding: 5px 6px;
    background-color: $promo-color;
    border-radius: 16px;

    h4{
      font-size: 1.5em;
      margin: 0 12px;
      color: #FFF;
    }
  }
}

.installments{

  a{
    text-decoration: underline;
  }
}

.add-to-cart > *{
  display: inline-block;
}

input:focus {
  outline: none;
}

.add-to-cart{
  justify-content: space-between;
  padding: 15px 0;
  .quantity{
    input{
      width: 57px;
      height: 55px;
      text-align: center;
      margin: 0 0px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: #F6F6F6;
    }
  }

  .add-to-cart-button{
    text-align: center;
    padding: 20px 22px;
    border-radius: 44px;
    background-color: $buttons-background;
    color: white;
  } 
}

.add-to-wish-list{
  a{
    text-decoration: underline;
  }
}

.product-footer{
  padding: 15px 0;
  margin: 10px 0;
  border-top: 1px solid $color-before;
  border-bottom: 1px solid $color-before;
  img{
    padding-right: 10px;
  }
  .shipped{
    img{
      padding-right:  6px;
    }
  }

  p{
    margin: 5px;
  }
}

.items-available{

  .items-available-header{
    padding-left: 5%;
  }

  .available-item{
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .item-image-a{
    background: url('https://i.ibb.co/bNXFyLH/photo-3a.png') no-repeat; 
    display: block;
    position: relative;
    background-size: 100%;
    content: "";
    padding-bottom: 20%;
    margin:0;
    background-position: center;
  }

  .item-image-b{
    background: url('https://i.ibb.co/VWK4cch/version-2.png') no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    content: "";
    padding-bottom: 20%;
    margin:0;
    background-position: center;
  }

  .item-image-c{
    background: url('https://i.ibb.co/2MfDwdL/version-3.png') no-repeat;
    display: block;
    position: relative;
    background-size: 100%;
    content: "";
    padding-bottom: 20%;
    margin:0;
    background-position: center;
  }

  p{
    margin: 2px 5px;
  }
}

.availability-count{
  margin: 5px 0;
}

.green-dot{
  top: 31%;
  transform: translate(58%, 53%);
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $color-available;
}

.to-cart{
  justify-content: space-between;
  padding: 0 0;

  .quantity-2{
    input{
      width: 40px;
      height: 40px;
      text-align: center;
      margin: 0 0px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: #F6F6F6;
    }
  }

  .to-cart-button{
    text-align: center;
    font-size: 0.7em;
    padding: 13px 0px;
    border-radius: 44px;
    background-color: #346D99;
    color: white;
  } 
}

.package-section{
  text-align: center;

  .package-header{
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px solid $color-before;
  }

  .package-header:after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-bottom: 1px solid orange;
  }

  .package-images{
    justify-content: space-around;
    .package-item-1{
      background: url('https://i.ibb.co/bNXFyLH/photo-3a.png') no-repeat; 
      display: block;
      position: relative;
      background-size: 100%;
      content: "";
      padding-bottom: 40%;
      margin:0;
    }

    .plus-sign{
      top: 35%;
      padding: 9px 16px;
      background-color: #346D99;
      border-radius: 50%;
      position: relative;
      color: white;
    }

    .package-item-2{
      background: url(https://i.ibb.co/k08mPgv/photo-3b.png) no-repeat;
      display: block;
      position: relative;
      background-size: 72%;
      transform: translateY(19px);
      content: "";
      padding-bottom: 20%;
      margin: 0;
    }
  }

  .package-description > *{
    margin: 5px 0;
  }

  .check-offer-button{
    justify-content: center;
    padding: 16px 0;
    border-radius: 44px;
    color: $buttons-background;
    background-color: white;
    border: 3px solid $buttons-background;
    font-size: 0.8em;
    margin-top: 15px;
    margin: auto;
    width: 60%;
  }
}

.description-section{
  .description-image{
    content: "";
    background: url("https://i.ibb.co/H7bjB2m/thumb-4-Resized.png") no-repeat;
    display: block;
    position: relative;
    background-size: cover;
    padding-bottom: 99%;
    width: 100%;
    margin-top: 35px;
    background-position: center;
  }

  .description-header{
    text-align: center;
    margin: 35px 0;
    border-bottom: 1px solid $color-before;

    &:after{
      content: "";
      position: absolute;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      background-color: orange;
    }
  }

  .description-content{
    margin: 0 15px;
    text-align: center;
  }
}

.section-header{
  border-bottom: 1px solid $color-before;
  margin-top: 45px;
  text-align: center;

  &:after{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: orange;
    position: absolute;
  }
}

.specifications-section{
  .section-header{
    border-bottom: 1px solid $color-before;
    margin-top: 45px;
    text-align: center;

    &:after{
      content: "";
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 1px;
      background-color: orange;
      position: absolute;
    }
  }
  .specifications-content > *{
    font-size: 12px;
  }

  .ambition{
    p{
      text-decoration: underline;
    }
  }

  .download-link{
    justify-content: center;
    font-size: 14px;
  }
}

.bestsellers-section{
  padding-top: 1px;
  margin-top: 50px;
  background-color: $color-before;
  padding-bottom: 10px;

  .section-header{
    margin-bottom: 25px;
  }
  
  .bestsellers-content .row{
    justify-content: space-around;
    padding: 10px;
  }

  // .bestseller-description{
  //   position: relative;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  //   width: 90%;
  //   align-items: center;
  // }

  .bestseller-item{
    background-color: #FFF;
    .bestseller-image-a{
      content: "";
      background: url('https://i.ibb.co/8jMzdYD/hs-1.png') no-repeat;
      display: block;
      position: relative;
      padding-bottom: 99%;
      width: 100%;
      margin-top: 35px;
      outline-offset: 20px;
      background-size: 90%;
      background-position: center;
      border-bottom: 1px solid $color-before;
    }
    .bestseller-image-b{
      content: "";
      background: url('https://i.ibb.co/zNZ4jvh/hs-2.png') no-repeat;
      display: block;
      position: relative;
      background-size: 90%;
      background-position: center;
      padding-bottom: 99%;
      width: 100%;
      margin-top: 35px;
      border-bottom: 1px solid $color-before;
    }
    .bestseller-image-c{
      content: "";
      background: url('https://i.ibb.co/wzTKk4x/hs-4.png') no-repeat;
      display: block;
      position: relative;
      background-size: 90%;
      background-position: center;
      padding-bottom: 99%;
      width: 100%;
      margin-top: 35px;
      border-bottom: 1px solid $color-before;
    }
    .bestseller-description{
      p{
        text-align: center;
      }
    }
  }
}

footer{
  background-color: $buttons-background;
  padding-top: 20px;

  ul{ 
    list-style: none;
    padding: 0;
    li{
      margin: 0;
      padding-bottom: 7px;
    }
  }
  > *{
    color: white;
    text-align: center;
  }

  .logos{
    justify-content: center;
    .row{
      justify-content: space-between;
    }
  }
}

@media(max-width: 767px){
  @include grid('sm');

  .desktop-nav{
    display: none;
  }

  .product-header{
    h2{
      margin-top: 0;
      margin-bottom:5px;
      font-weight: lighter;
    }
    p{
      font-size: 0.8em;
      font-weight: bold;
      margin:0;
    }
  }

  .items-available{
    .items-available-header{
      padding-left: 0;
    }
  }
}

@media(min-width: 768px) {
  @include grid('md');

  .desktop-footer{
    display: flex;
    flex-wrap: wrap;
  }

  .desktop-nav{
    display: inline;
    .desktop-nav-list{
      font-weight: bold;
      justify-content: space-around;
      
      a:last-of-type{
        color: gold;
      }
      > *{
        text-decoration: none;
        padding: 22px 4px;
        margin: 10px 0;
      }
      > *:hover{
        outline: 1px solid black;
      }
    }
  }

  .container-fluid{
    width:100%;
    padding: 0 15px;
    background-color: $color-before;

    > * {
      background-color: white;
    }

    footer{
      background-color: $buttons-background;
      .logos .row{
        justify-content: center;
        // img{
        //   height:50px;
        //   width: 50px;
        // }
      }
    }
    
    .bestsellers-section{
      background-color: $color-before;
    }
  }

  .product{
    font-size: 0.6em;
    margin-bottom: 25px;

    .product-left{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .product-right{
      .desktop-product-header{
        flex-direction: row-reverse;
        
      }
    }
  }

  .items-image-a{
    background-position: center;
  }

  .items-image-b{
    background-position: center;
  }

  .items-image-c{
    background-position: center;
  }

  .items-available{
    margin-bottom: 35px;
    font-size: 0.9em;
    justify-content: space-around;
    .available-item{
      justify-content: center;
      position: relative;
    }

    .available-md-border:after{
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: 120%;
      background-color: $color-before;
    }
  }

  .package-section{
    .package-images{
      .package-item-2{
        top:0 ; 
      }
    }

    .package-description{
      .package-description-inner{
        margin: 0;
        position: relative;
        top: 50% ;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: right;
        > * {
          margin: 0;
        }
        p{
          font-size: 1em;
        }
      }
    }

    .package-content{
      padding: 30px 0;
    }

  }

  .description-section{
    flex-direction: row-reverse;
    padding-bottom: 25px;

    .description-image{
      background-size: 100%;
      background-position: inherit;
      top: 20%;
      margin-top: 35px;
      padding-bottom: 0;
    }
  
    .description-header{
      background-position: top;
      text-align: left;
      margin: 0;
      font-size: 1em;
      border-bottom: 1px solid $color-before;
  
      &:after{
        content: "";
        position: absolute;
        // calc padding + (view port / 1 column width)
        left: calc(15px + (100vw * 1/12));
        transform: translateX(0px);
        height: 1px;
        width: 15%;
        background-color: orange;
      }
    }
  
    .description-content{
      margin: 0;
      text-align: left;
      font-size: 0.7em;
      margin-right: 10px;
    }
  }
  
  .section-header{
    border-bottom: 1px solid $color-before;
    margin-top: 45px;
    text-align: center;
  
    &:after{
      width: 25%;
    }
  }

  .specifications-section{
    .section-header{
      margin-top: 0;

      h2{
        margin:0;
        margin-bottom: 15px
      }
    }

    .specifications-content{
      font-size: 1em;
      margin-top: 25px;
      > *{
        font-size: .8em;
        justify-content: center;
      }
      
      .spec-wrapper{
        // div:first-of-type{
        .key{
          justify-content: flex-end;
          padding-right: 30px;
        }
        .value{
          justify-content: flex-start;
          padding-left: 30px
        }
      }
    }
    .downloads{
      a{
      position: relative;
      top: 18%;
      }
    }
  }
}

@media(min-width: 992px){
  @include grid('lg');

  .product{
    font-size: 1em;
  }

  .items-available{
    font-size: 1em;
  }

  .desktop-nav{
    .desktop-nav-list{
      > *{
        padding: 22px 16px;
      }
    }
  }

  .description-section{
    .description-content{
      font-size: 1em;
      margin-right: 30px;
    }
  }

  .container-fluid footer .logos .row img{
    height: 68px;
    width: 68px;
  }
}

@media(min-width: 1200px){
  @include grid('xl');

  .product{
    font-size: 1em;
  }

  .items-available{
    font-size: 1.2em;
  }

  .product-left{
    padding-bottom: 70% !important;
    background-size: 70% !important;
    background-position: top !important; 
  }

  .package-section{
    .package-description{
      .package-description-inner{
        p{
          font-size: 1.5em;
        }
        h3{
          font-size: 1.7em
        }
      }
    }
  }

  .description-section{
  
    .description-header{
      font-size: 1.3em;
    }
  
    .description-content{
      font-size: 1.1em;
    }
  }

  .to-cart{
    justify-content: space-between;
    padding: 0 0;
  
    .quantity-2{
      input{
        font-size: 1.2em;
        width: 60px;
        height: 60px;
        text-align: center;
        margin: 0 0px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: #F6F6F6;
      }
    }
  
    .to-cart-button{
      text-align: center;
      font-size: 1em;
      padding: 13px 0px;
      border-radius: 44px;
      background-color: #346D99;
      color: white;
    } 
  }

  .package-section .package-images {
    justify-content: flex-end;

    .plus-sign {
      top: 35%;
      padding: 15px 25px;
      font-size: 1.5em;
      background-color: #346D99;
      border-radius: 50%;
      position: relative;
      color: white;
    }
  }
}